In [0]:
import numpy as np
import math
import pandas as pd
import time
from google.colab import drive

In [0]:
class VDFT:
    #initialize the class
    def __init__(self, feature_vals, delta, n_min):
        self.feature_vals = feature_vals
        self.n_min = n_min
        self.delta = delta
        self.num_instances_proc = 0
        features = list(feature_vals.keys())
        self.root = tree_node(features)

    def update(self, instance):
        node = self.root.sort_instance(instance)
        node.update_stats(instance)
        self.num_instances_proc += 1
        split_feature = node.splittable(self.delta, self.n_min)
        if (split_feature != None):
            child =  self.node_split(node, split_feature)
            node.add_child(split_feature, child)
            for key in child:
                child[key].parent = node


    def node_split(self, node, split_feature):
        features = node.possible_featuresToSplit
        new_features = [None if f == split_feature else f for f in features]
        child = {}
        for v in self.feature_vals[split_feature]:
            child[v] = tree_node(new_features)
        return(child)
    def accuracy(self, instances):
      true = 0
      for examp in instances:
        leaf = self.root.sort_instance(examp)
        pred = leaf.most_freq()
        if (pred == examp[-1]):
          true = true + 1.
      return(true / len(instances))

In [0]:
class tree_node:
      def __init__(self, possible_featuresToSplit):
        self.class_freq = {} #define dictionary for class frequencies
        self.parent = None
        self.child = None
        self.featureToSplit = None
        self.tot_instances = 0
        self.new_instances = 0
        self.possible_featuresToSplit = possible_featuresToSplit
        self.nijk = {i:{} for i in possible_featuresToSplit} #statistics of feature i, value j, class k
      def add_child(self, featureToSplit, child):
        if(child):
          self.child = child
          self.featureToSplit = featureToSplit
          self.nijk.clear()
        else:
            print('the child is empty')

      def most_freq(self):
        if (self.class_freq):
            predict = max(self.class_freq, key=self.class_freq.get)
        else:
            class_freq = self.parent.class_freq
            predict = max(class_freq, key=class_freq.get)
        return(predict)

      def update_stats(self, instance):
        features = self.possible_featuresToSplit
        label = instance[-1]
        for i in features:
            if (i != None):
                val = instance[:-1][features.index(i)] 
                if (val not in self.nijk[i]):  # if the value does not exist
                    d = {label : 1}
                    self.nijk[i][val] = d
                else:
                    if (label not in self.nijk[i][val]): #if the label does not exist
                        self.nijk[i][val][label] = 1
                    else:
                        self.nijk[i][val][label] += 1
        self.new_instances += 1
        self.tot_instances += 1
        if (label not in self.class_freq):
            self.class_freq[label] = 1
        else:
            self.class_freq[label] += 1


      def sort_instance(self, instance):
        val = 0
        if (self.child != None):
            indx = self.possible_featuresToSplit.index(self.featureToSplit)
            val = instance[:-1][indx]
            #print('sort ex val',self.class_freq)
            return(self.child[val].sort_instance(instance))
        else:
            return(self)
      
      def entropy(self, class_freqs):
        tot_instances = 0
        for k in class_freqs:
            tot_instances += class_freqs[k]
        if (tot_instances == 0):
            return(0) 
        entropy = 0
        for k in class_freqs:
            if(class_freqs[k] != 0):
                entropy += -(class_freqs[k] / float(tot_instances)) * math.log2(class_freqs[k] / float(tot_instances))
            else:
                entropy += 0
        return(entropy)


      def information_gain(self, featID):
        njk = self.nijk[featID]
        class_frequency = self.class_freq

        total_instances = self.tot_instances
        if (total_instances == 0):
            return(0)
        old_entropy = self.entropy(class_frequency)

        new_entropy = 0
        for j in njk:
            count = 0
            for k in njk[j]:
                count += njk[j][k]
            new_entropy += (count/float(total_instances)) * (self.entropy(njk[j]))

        info_gain = old_entropy - new_entropy
        return info_gain


      def splittable(self, delta, n_min):
        if(self.new_instances < n_min):
            return(None)
        else:
            self.new_instances = 0  # reset the count
        max_split_feature = 0
        second_max_split_feature = 0
        X_a = ''
        for feature in self.possible_featuresToSplit:
            if (feature != None):
                val = self.information_gain(feature)
                if (val > max_split_feature):
                    max_split_feature = val
                    X_a = feature
                elif (val < max_split_feature and val > second_max_split_feature):
                    second_max_split_feature = val
        R = math.log10(len(self.class_freq))
        sigma = np.sqrt((R**2) * np.log(1/delta) / (2 * n))
        if (max_split_feature - second_max_split_feature > sigma):
            return(X_a)
        else:
            return(None)

In [46]:
drive.mount('/content/drive')
start_time = time.time()
df = pd.read_csv('/content/drive/My Drive/UCI_Credit_Card.csv', header=0)
df.describe()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

                 ID       LIMIT_BAL  ...       PAY_AMT6  default.payment.next.month
count  30000.000000    30000.000000  ...   30000.000000                30000.000000
mean   15000.500000   167484.322667  ...    5215.502567                    0.221200
std     8660.398374   129747.661567  ...   17777.465775                    0.415062
min        1.000000    10000.000000  ...       0.000000                    0.000000
25%     7500.750000    50000.000000  ...     117.750000                    0.000000
50%    15000.500000   140000.000000  ...    1500.000000                    0.000000
75%    22500.250000   240000.000000  ...    4000.000000                    0.000000
max    30000.000000  1000000.000000  ...  528666.000000                    1.000000

[8 rows x 25 columns]

In [47]:
df.drop(['ID'], inplace=True, axis =1)
titles = list(df.columns.values)
features = titles[:-1]
feature_values = {f:None for f in features}

for f in features:
  if (df[f].dtype == np.float64 or df[f].dtype == np.int64):
    df[f] = pd.cut(df[f], bins=3)
    feature_values[f] = df[f].unique()
train_size=24000
array = df.head(train_size).values
set1 = []
set2 = []
set3 = []
set4=  []
possible_features_to_split = titles[:-1]
cnt = 0
for i in range(len(array)):
  cnt += 1
  if (cnt <= 10000):
    set1.append(array[i])
  elif (cnt > 10000 and cnt <= 15000):
    set2.append(array[i])
  elif (cnt > 15000 and cnt <= 20000):
    set3.append(array[i])
  else:
    set4.append(array[i])
    
instances = [set1, set2, set3, set4]
test_size = 6000
test_set = df.tail(test_size).values
testSet = []
for i in range(len(test_set)):
  testSet.append(test_set[i])
num_min_instances=80
delta_prob=0.1
tree = VDFT(feature_values, delta_prob, num_min_instances)
print('Data size: ', len(df))
print('Test size: ', len(test_set))

Data size:  30000
Test size:  6000

In [48]:
n = 0
for training_set in instances:
  n += len(training_set)
  for ex in training_set:
    tree.update(ex)
    #i=i+1
    #if i ==31:
      #raise StopIteration
  print('Training set:', n, end=', ')
  print('ACCURACY:  ',tree.accuracy(testSet))

print("Running time: " ,(time.time() - start_time))

Training set: 10000, ACCURACY:   0.825
Training set: 15000, ACCURACY:   0.8295
Training set: 20000, ACCURACY:   0.831
Training set: 24000, ACCURACY:   0.8303333333333334
Running time:  4.1503167152404785

In [0]:
start_time = time.time()
df = pd.read_csv('/content/drive/My Drive/UCI_Credit_Card.csv', header=0)
df.drop(['ID'], inplace=True, axis =1)

In [50]:
df

       LIMIT_BAL  SEX  ...  PAY_AMT6  default.payment.next.month
0        20000.0    2  ...       0.0                           1
1       120000.0    2  ...    2000.0                           1
2        90000.0    2  ...    5000.0                           0
3        50000.0    2  ...    1000.0                           0
4        50000.0    1  ...     679.0                           0
...          ...  ...  ...       ...                         ...
29995   220000.0    1  ...    1000.0                           0
29996   150000.0    1  ...       0.0                           0
29997    30000.0    1  ...    3100.0                           1
29998    80000.0    1  ...    1804.0                           1
29999    50000.0    1  ...    1000.0                           1

[30000 rows x 24 columns]

In [0]:
X=df.loc[:, df.columns != 'default.payment.next.month'].head(train_size)

In [0]:
y=df['default.payment.next.month'].astype(float).head(train_size)

In [0]:
#compare it with batch decision tree

from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth= 7, min_samples_leaf= 2, random_state=0)
clf = clf.fit(X, y)

In [0]:
test_set=df.loc[:, df.columns != 'default.payment.next.month'].tail(test_size)
y_test=df['default.payment.next.month'].tail(test_size)

In [43]:
test_set

       LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6
24000    50000.0    1          2  ...    2004.0     704.0     707.0
24001    60000.0    1          2  ...    2000.0    3000.0    1120.0
24002   400000.0    1          2  ...    1105.0     510.0     959.0
24003    20000.0    1          5  ...     900.0       0.0       0.0
24004    50000.0    1          3  ...      70.0     200.0     100.0
...          ...  ...        ...  ...       ...       ...       ...
29995   220000.0    1          3  ...    3047.0    5000.0    1000.0
29996   150000.0    1          3  ...     129.0       0.0       0.0
29997    30000.0    1          2  ...    4200.0    2000.0    3100.0
29998    80000.0    1          3  ...    1926.0   52964.0    1804.0
29999    50000.0    1          2  ...    1000.0    1000.0    1000.0

[6000 rows x 23 columns]

In [0]:
y_pred=clf.predict(test_set)

In [45]:
from sklearn import metrics 
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Running time: " ,(time.time() - start_time))

Accuracy: 0.8293333333333334
Running time:  9.376723051071167